{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<div class="container my-5">

    <!-- Section -->
    <section>

        <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Ophthalmos online</h6>
        <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Service</h3>
        <hr class="w-header my-4">
        <p class="lead text-center text-muted pt-2 mb-5">Plan your medical education and gain full visibility about
            global events</p>

        <div class="row">

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card text-center bg-success text-white">
                    <div class="card-body">
                        <p class="mt-4 pt-2"><i class="far fa-object-ungroup fa-4x"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Discover events</a></h5>
                        <p class="mb-4">Check out all global events and search for the most important.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="mt-4 pt-2"><i class="fas fa-mobile-alt fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Personal
                                calendar</a></h5>
                        <p class="text-muted mb-4">Mark your events and personalize which topics are interesting for
                            you.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card text-center deep-purple lighten-1 text-white">
                    <div class="card-body">
                        <p class="mt-4 pt-2"><i class="fas fa-chart-line fa-4x"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Digital education</a>
                        </h5>
                        <p class="mb-4">Collect links to the educational vides, events and publications</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="mt-4 pt-2"><i class="fas fa-bullhorn fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Non-profit</a></h5>
                        <p class="text-muted mb-4">This service is free-of-charge for our customers and advertisement
                            free. </p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- Section -->

</div>
<div class="container my-5">


    <!--Section: Content-->
    <section class="p-5 z-depth-1">

      <h3 class="text-center font-weight-bold mb-5">Counter</h3>

      <div class="row d-flex justify-content-center">

        <div class="col-md-6 col-lg-3 mb-4 text-center">
          <h4 class="h1 font-weight-normal mb-3">
            <i class="fas fa-file-alt indigo-text"></i>
            <span class="d-inline-block count-up" data-from="0" data-to="100" data-time="2000">{{total_events}}</span>
          </h4>
          <p class="font-weight-normal text-muted">Events in the database</p>
        </div>

        <div class="col-md-6 col-lg-3 mb-4 text-center">
          <h4 class="h1 font-weight-normal mb-3">
            <i class="fas fa-layer-group indigo-text"></i>
            <span class="d-inline-block count1" data-from="0" data-to="250" data-time="2000">{{ next_in_seven }}</span>
          </h4>
          <p class="font-weight-normal text-muted">Events during the next 7 days</p>
        </div>

        <div class="col-md-6 col-lg-3 mb-4 text-center">
          <h4 class="h1 font-weight-normal mb-3">
            <i class="fas fa-pencil-ruler indigo-text"></i>
            <span class="d-inline-block count2" data-from="0" data-to="330" data-time="2000">{{live_events}}</span>
          </h4>
          <p class="font-weight-normal text-muted">Live events</p>
        </div>

        <div class="col-md-6 col-lg-3 mb-4 text-center">
          <h4 class="h1 font-weight-normal mb-3">
            <i class="fab fa-react indigo-text"></i>
            <span class="d-inline-block count3" data-from="0" data-to="430" data-time="2000">{{online_events}}</span>
          </h4>
          <p class="font-weight-normal text-muted">Online events</p>
        </div>

      </div>

    </section>
    <!--Section: Content-->


  </div>
{% endblock content %} 