{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Update the event information</h2>
<a class="btn btn-success btn-sm" href="{% url 'user_events' %}">Back to my events</a>
<a class="btn btn-secondary btn-sm float-right" href="{{ event.get_delete_url }}">Delete event</a>
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock content %}